/*16 px is default 1rem*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw; /*probleem with this is that if the scrollbar vertical comes up to take space, the the horzontal will appear also, cuz that space is not accounted for*/
    width: 100%; /*this better, cuz then the scroolbaar is accounted for*/
    min-height: 100vh; /*setting the min height means the body will minimal take op 100 procent of the viewpoort*/
}


main{
    width: 50vw; /*viewport setting*/
    width: 50%;  /*50 procent of parent*/
    background-color: skyblue;
}

h1 {
    border: 2px hashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em; /* 1,5 rem */
}

P {
    font-size: 1rem;
    width: 35vw; /*80 characters*/
    background-color: blueviolet;
   
}